<div class="map-view d-flex">
  <div class="map-view__text">
    <app-text fontSize="2rem" text="It has survived not only five centuries, but the leap into electronic typesetting, remaining essentially unchanged."></app-text>
    <app-text fontSize="1.1rem" text="It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English."></app-text>
  </div>
  <app-image alt="faces map" src="https://uppic.cc/d/5W7H" width="100%"></app-image>
</div>
