<div class="footer d-flex align-items-center justify-content-between">
  <app-text color="#fff" text="&copy; Google. All Rights Reserved."></app-text>
  <div class="footer__follow-us d-flex align-items-center">
    <app-text color="#fff" text="Follow us on:"></app-text>
    <app-image class="ml-1 mr-1" alt="facebook" src="assets/images/facebook.svg"></app-image>
    <app-image class="mr-1" alt="linkedin" src="assets/images/linkedin.svg"></app-image>
    <app-image src="assets/images/twitter.svg" alt="twitter"></app-image>
  </div>
</div>
